.strength-event {
  background-color: rgba(245, 230, 99);
  color: gray;
}

.mtb-event {
  background-color: #12b53b;
}

.indoor-event {
  background-color: #f788ab;
}

.child-event {
  background-color: rgba(255, 141, 0, 1);
}

.road-event {
  background-color: rgba(63, 142, 252);
}

.general-event {
  background-color: #b80791;
}
