.strength-event {
  background-color: rgb(245, 230, 99);
  color: gray;
}

.mtb-event {
  background-color: #12b53b;
}

.indoor-event {
  background-color: #f788ab;
}

.road-event {
  background-color: rgb(63, 142, 252);
}

.general-event {
  background-color: #b80791;
}
