body {
  font-family: "Roboto", sans-serif;
  color: #4a5568;
  padding-bottom: 100px;
}

.container--lg {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  padding: 0 20px;
}

.container--xl {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

p {
  margin: 0;
}

.rbc-event-label {
  display: none;
}

a:hover {
  color: #fdb713;
}

button.mw2 {
  color: #fff;
  line-height: 40px;
  padding: 0 14px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  transition: all 0.2s ease;
}

button.success {
  background: #3ecf8e;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
}

button.success:hover {
  background: #99e6c3;
  transition: all 0.2s ease;
}

button.warning {
  background: #f76d6d;
  text-shadow: 0 1px 3px rgba(252, 63, 63, 0.4);
}

button.warning:hover {
  background: #f58484;
}

@media (max-width: 640px) {
  button.mw2 {
    width: 100%;
  }
}
